# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
.env

# Reportes y evidencias generadas
reports/*.html
reports/*.png
reporte.html

# Selenium
chromedriver
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
